section {
    width: 98vw;
    height: 90vh;

    margin-top: 10vh;

    position: absolute;
    left: 3vw;
    top: 0;
}

#conteudos{
    width: 40vw;
    height: 20vh;
    
    margin: 5vh 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#barraPesquisa {
    width: 40vw;
    height: 5vh;

    border-radius: 2vw;

    margin: 5vh 20vw;

    display: flex;
    align-items: center;
}

#mapa {
    background-color: lightgreen;
    width: 98vw;
    height: 90vh;

    margin-top: -30vh;
    text-align: center;
}

#lembrete{
    margin-top: 20vh;
}

#barraPesquisa i {
    margin-left: -2vw;
}

#search {
    width: 40vw;
    height: 4vh;

    border-radius: 2vw;

    padding-left: 2vw;

    background-color: rgb(151, 151, 151);
    border: none;
}

#search:hover {
    cursor: pointer;
}

#banners {
    width: 30vw;
    height: 200vh;

    position: absolute;
    top: 0vh;
    /* -110vh aparece a tela */
    right: 0vw;

    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.banner {
    width: 30vw;
    height: 90vh;

    margin-top: 10vh;
}

#banner_0 {
    background-color: transparent;
}

#banner_1 {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: rgb(151, 151, 151);
}

#perfil_barra{
    width: 30vw;
    height: 7.5vh;

    background-color: rgb(199, 199, 199);
}

#perfil_fechar{
    width: 3vw;
    height: 3vw;

    border-radius: 50%;
    margin: 0.5vw;

    background-color: transparent;
}

#perfil_fechar:hover{
    cursor: pointer;
}

#perfil_close_btns{
    width: 30vw;
    height: 90vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}

.perfil_close_btn{
    width: 20vw;
    height: 5vh;

    border-radius: 2vw;
    text-align: center;

    background-color: rgb(255, 255, 255);
}

#btns_banner3{
    width: 30vw;
    height: 15vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}

/* menus */

#menus {
    width: 30vw;
    height: 200vh;

    position: absolute;
    top: 0vh;
    /* -110vh aparece a tela */
    left: 0vw;

    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.menu {
    width: 30vw;
    height: 90vh;

    margin-top: 10vh;
}

#menu_0 {
    background-color: transparent;
}

#menu_1 {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: rgb(151, 151, 151);
}

#menu_barra{
    width: 30vw;
    height: 7.5vh;

    background-color: rgb(199, 199, 199);

    display: flex;
    justify-content: end;
    align-items: end;
}

#menu_fechar{
    width: 3vw;
    height: 3vw;

    border-radius: 50%;
    margin: 0.5vw;

    background-color: transparent;
}

#menu_close_btns{
    width: 30vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    margin-top: 10vh;

    align-items: center;
    justify-content: space-evenly;
}

.menu_close_btn{
    width: 20vw;
    height: 5vh;

    border-radius: 2vw;
    text-align: center;

    background-color: rgb(255, 255, 255);
}

#verMais{
    width: 30vw;
    height: 5vh;

    text-align: center;

    background-color: transparent;
    border: none;
}