<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML + CSS</title>
    <link rel="stylesheet" href="./../css/imapa/imapa.css" />
    <script src="https://kit.fontawesome.com/ed59c0f9fe.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/imapaCt/perfil_imapa.js" defer></script>
</head>

<body>
    <header>
        <h1 id="nome_site">Trash Point</h1>
        <button id="btn_perfil" onclick="trocarBanner(11)">
            <i id="i_perfil" class="fa-solid fa-user fa-2xl"></i>
        </button>
        <!-- java pra puxar a tela da direita -->
    </header>
    <section id="section">
        <div id="conteudos">
            <div id="barraPesquisa">
                <input id="search" type="text" placeholder="Escreva Aqui" />
                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </div>
            <h1 id="lembrete">AQUI VAI UMA API DE MAPA INTERATIVO</h1>
        </div>
        <div id="mapa"></div>

        <nav id="banners">
            <div class="banner" id="banner_0">
                <div class="texto"></div>
            </div>
            <div class="banner" id="banner_1">
                <div class="texto">
                    <div id="perfil_barra">
                        <button id="perfil_fechar" onclick="trocarBanner(0)">
                            <i class="fa-solid fa-xmark fa-2xl"></i>
                        </button>
                    </div>
                    <div id="perfil_close_btns">
                        <div id="btns_banner3">
                            <div>
                                <button class="perfil_close_btn">
                                    <h1>Historico de Entregas</h1>
                                </button>
                            </div>
                            <div>
                                <button class="perfil_close_btn">
                                    <h1>Pontos Salvos</h1>
                                </button>
                            </div>
                        </div>
                        <div>
                            <button class="perfil_close_btn">
                                <!-- aqui fecha o banner direito -->
                                <h1>Sair da conta</h1>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- menus -->

        <nav id="menus">
            <div class="menu" id="menu_0">
                <div class="textoM"></div>
            </div>
            <div class="menu" id="menu_1">
                <div class="textoM">
                    <div id="menu_barra">
                        <button id="menu_fechar" onclick="trocarMenu(0)">
                            <i class="fa-solid fa-xmark fa-2xl"></i>
                        </button>
                    </div>
                    <div id="menu_close_btns">
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo ABC</h1>
                            </button>
                        </div>
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo DEF</h1>
                            </button>
                        </div>
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo GHI</h1>
                            </button>
                        </div>
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo JKL</h1>
                            </button>
                        </div>
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo MNO</h1>
                            </button>
                        </div>
                        <div>
                            <button class="menu_close_btn">
                                <h1>Lixo tipo PQR</h1>
                            </button>
                        </div>
                    </div>
                    <button id="verMais">
                        <h1>Ver mais ...</h1>
                    </button>
                </div>
            </div>
        </nav>
    </section>
    <footer>
        <div id="menu">
            <button id="menu_i" onclick="trocarMenu(11)">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
        </div>
        <!-- puxa a tela da esquerda -->
    </footer>
</body>

</html>